# Sourced from mattutils:

[user]
	name = Matthew Fernandez
[color]
    ui = True
[pager]
    status = True
[github]
	user = Smattr

[alias]
    co = clone
    st = status
    incoming = "!git fetch origin master && git log ..origin/master"
    outgoing = "!git getch origin master && git log origin/master.."
    in = incoming
    out = outgoing

[merge]
    conflictstyle = diff3
