[user]
	name = Matthew Fernandez
[color]
    ui = True
[pager]
    status = True
    diff = "less -FRSX +Gg"

[github]
	user = Smattr

[alias]
    co = clone
    st = status
    glog = log --graph --stat
    incoming = "!git fetch origin master && git log ..origin/master"
    outgoing = "!git getch origin master && git log origin/master.."
    in = incoming
    out = outgoing
    root = rev-parse --show-toplevel
    # Fix Git's shitty inability to bisect when not at the top level
    bi = "!f() { git rev-parse --show-toplevel >/dev/null && cd $(git rev-parse --show-toplevel) && git bisect $@; }; f"

[merge]
    conflictstyle = diff3

[log]
    decorate = True

[include]
    path = .gitconfig_mattbin
